.nav-button {
    width: 100px;
    height: 22px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border: 100%;
}

.nav-button-1 {
    top: 39px;
    left: 40%;
}

.nav-button-2 {
    top: 39px;
    left: 45%;
}

.nav-button-3 {
    top: 39px;
    left: 50%;
}